<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KR_MobilData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KR_MobilData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <KR_MobilData.Properties.Settings>
      <setting name="OracleConnStr" serializeAs="String">
        <value>Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=211.138.87.146)(PORT=18091))(CONNECT_DATA=(SERVICE_NAME=hx)));Persist Security Info=True;User ID=hmcs;Password=hmcs</value>
      </setting>
    </KR_MobilData.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <KR_MobilData.Properties.Settings>
      <setting name="Service_Ip" serializeAs="String">
        <value>192.168.63.64</value>
      </setting>
      <setting name="Service_Port" serializeAs="String">
        <value>50698</value>
      </setting>
      <setting name="DelayTime" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="SendStr" serializeAs="String">
        <value>ri</value>
      </setting>
      <setting name="Crypt" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CryptKey" serializeAs="String">
        <value>hxsoft++</value>
      </setting>
      <setting name="redis_flag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="JkdSql" serializeAs="String">
        <value>SELECT JKD_ID, JKD_NAME, RMI_ID FROM yxjk_jkd where TYPES = 1 ORDER BY JKD_NAME</value>
      </setting>
      <setting name="DelayTime_Update" serializeAs="String">
        <value>300000</value>
      </setting>
    </KR_MobilData.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.121.2.0" newVersion="4.121.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>